set surround
set multiple-cursors
set commentary
set easymotion
set ideajoin

" コードフォーマット
nnoremap == :action ReformatCode<CR>
vnoremap == :action ReformatCode<CR>
" ターミナル開く
nnoremap <Space>t :action ActivateTerminalToolWindow<CR>
nnoremap <Space>f :action ActivateFindToolWindow<CR>
nnoremap <Space>e :action ActivateProjectToolWindow<CR>
" ウィンドウ閉じる
nnoremap <Space>k :q<CR>

" 画面縦分割
nnoremap vs :<C-u>vsplit<CR>
" 画面横分割
nnoremap ss :<C-u>split<CR>
" タブ移動
nnoremap <C-n> :<C-u>tabnext<CR>
nnoremap <C-p> :<C-u>tabprevious<CR>
" Vimのキーバインドでウィンドウ間を移動
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

