---
- hosts: localhost
  tasks:
    - name: install brew packages
      import_tasks: brew.yml

    - name: setup fonts
      import_tasks: fonts.yml

    - name: install tools via aqua
      import_tasks: tools.yml

    - name: setup zsh
      import_tasks: zsh.yml

    - name: setup ghostty
      import_tasks: ghostty.yml

    - name: setup wezterm
      import_tasks: wezterm.yml

    - name: setup tmux
      import_tasks: tmux.yml

    - name: setup neovim
      import_tasks: neovim.yml

