---
- name: Get git repository root
  command: git rev-parse --show-toplevel
  args:
    chdir: "{{ playbook_dir }}"
  register: git_root
  changed_when: false
  tags:
    - tmux

- name: install tpm
  git:
    repo: https://github.com/tmux-plugins/tpm
    dest: ~/.tmux/plugins/tpm
  tags:
    - tmux

- name: install tmux
  homebrew:
    name: tmux
    state: present
    update_homebrew: yes
  tags:
    - tmux

- name: link .tmux.conf
  file:
    src: "{{ git_root.stdout }}/{{ item.file }}"
    dest: "{{ item.dest }}"
    state: link
    force: yes
  loop:
    - { file: ".tmux.conf", dest: "~/.tmux.conf" }
  tags:
    - dotfiles
    - tmux

- name: install rustup-init
  homebrew:
    name: rustup-init
    state: present
  tags:
    - tmux

- name: initialize rustup
  ansible.builtin.command: rustup-init -y
  args:
    creates: ~/.cargo/bin/cargo
  tags:
    - tmux

- name: install tmuxcc via cargo
  ansible.builtin.command: ~/.cargo/bin/cargo install tmuxcc
  args:
    creates: ~/.cargo/bin/tmuxcc
  tags:
    - tmux

